* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
}

.page {
    min-height: 80vh;
}

.hidden {
    display: none;
}

h1 {
    font-size: 32px;
    margin-bottom: 12px;
}

.notice {
    text-align:    center;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0;
}

.subtitle {
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;

    flex-direction: column;

    gap: 12px;
}


.price-button {
    width: 100%;

    padding: 18px 20px;

    background-color: white;

    border: 1px solid #d0d0d0;

    border-radius: 10px;

    font-size: 18px;

    text-align: left;

    cursor: pointer;

    transition: background-color 0.2s;
}


.price-button:hover {
    background-color: #eaeaea;
}



.back-button {
    padding: 10px 16px;

    margin-bottom: 30px;

    background-color: #dedede;

    border: none;

    border-radius: 8px;

    font-size: 15px;

    cursor: pointer;
}


.back-button:hover {
    background-color: #cccccc;
}


.items-list {
    display: flex;

    flex-direction: column;

    gap: 10px;
}


.item-button {
    width: 100%;

    padding: 17px 20px;

    background-color: white;

    border: 1px solid #d0d0d0;

    border-radius: 10px;

    font-size: 17px;

    text-align: left;

    cursor: pointer;

    transition: background-color 0.2s;
}


.item-button:hover {
    background-color: #eaeaea;
}


.item {
    background-color: white;

    padding: 25px;

    border-radius: 14px;

    border: 1px solid #ddd;
}

.item img {
    width: 100%;

    max-height: 500px;

    object-fit: contain;

    display: block;

    margin-bottom: 25px;

    border-radius: 10px;
}


.price {
    font-size: 24px;

    font-weight: bold;

    margin-top: 15px;

    margin-bottom: 20px;
}


.description {
    font-size: 16px;

    line-height: 1.6;

    color: #444;
}


@media (max-width: 600px) {

    .container {
        width: 92%;

        padding: 30px 0;
    }


    h1 {
        font-size: 27px;
    }


    .item {
        padding: 18px;
    }


    .price-button,
    .item-button {
        padding: 16px;
    }
}
